Django==2.2.19
Pillow==9.2.0
pytz==2022.4
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
gunicorn==20.0.4
psycopg2-binary==2.8.6
python-dotenv==0.21.0
sqlparse==0.4.3